header {
    .navbar {
        padding: 0;
    }

    div {
        background-color: #647e7e;

        img {
            width: 400px;
            padding: 20px;
        }

        div {
            justify-content: end;

            a {
                padding: 20px;
                margin: 20px;
                font-family: sans-serif;
                color: $gris-claro !important;
                font-size: 17px;
                font-weight: bold;

                &:hover {
                    background-color: #afa5a5;
                    color: #272727 !important;
                    border-radius: 25px;
                }

            }
        }
    }
}