form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: auto;
    background-image: url(../recursos/imagen-form-contacto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    input {
        padding: 10px;
        margin: 20px;
        width: 300px;
        text-align: center;
    }
}



#input-comentarios {
    height: 200px;
}

/* Pseudoclase Input */
input:focus {
    background-color: #756767;
    color: white;
}