@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Signika+Negative:wght@600&display=swap');

$frase-inspiradora: 'Shadows Into Light', cursive;
$titulos-secundarios: 'Signika Negative', sans-serif;








h6 {
    text-align: center;
    color: rgb(214, 199, 199);
    font-size: 20px;
}
